{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}
    <p>I am a sophomore at Harvard College studying Neurobiology with a secondary field in Computer Science.  I love Calvin and Hobbes and created this website as my final project for <a href="https://cs50.harvard.edu/" target="_blank">CS50</a>.  This is my first time creating a website.</p>
    <p>The creation of this website would not have been possible without the work of <a href="http://michaelyingling.com/random/calvin_and_hobbes/" target="_blank">Michael Yingling</a>, <a href="http://marcel-oehler.marcellosendos.ch/comics/ch/index.html" target="_blank">Marcel Oehler</a>, <a href="http://www.s-anand.net/calvinandhobbes.html" target="_blank">S Anand</a>, and <a href="http://www.reemst.com/calvin_and_hobbes/stripsearch" target="_blank">Martijn Reemst</a>.  The website was designed using Bootstrap with the <a href="https://www.bootstrapcdn.com/bootswatch/" target="_blank">Journal Theme</a>.  I also used code from <a href="https://github.com/1000hz/bootstrap-validator" target="_blank">Cina Saffary</a> for form validation, and from <a href="https://startbootstrap.com/template-overviews/the-big-picture/" target="_blank">StartBoostrap.com</a> for the landing page.</p>
    <p>All comics are property of Andrews McMeel Publishing, LLC.</p>
{% endblock %}